---
import slideUrl from '../../scripts/visuals/simple-slideshow.js?url';
---
<html lang="it">
  <head>
    <meta charset="utf-8" />
    <title>AOTU • Simple Slideshow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <script type="module" src={slideUrl}></script>
  </body>
</html>
