---
import ListPage from "../components/templates/ListPage.astro";
import bibScriptUrl from "../scripts/bibliography.js?url";
---

<ListPage
  title="ARCHIVE OF THE UNTAMED : BIBLIOGRAPHY"
  subtitle="texts :: [title] [authors] [year] [type/venue]"
  scriptUrl={bibScriptUrl}
>
  <!-- nessun filtro -->
  <div slot="filters"></div>

  <!-- header a 4 colonne (come Network) -->
  <div slot="list-header" class="network-header">
    <div>Title</div>
    <div>Authors</div>
    <div>Year</div>
    <div>Type / Venue</div>
  </div>
</ListPage>
