---
import Base from '../layouts/Base.astro';
---
<Base>
  <Fragment slot="head-title">Archive of the Untamed</Fragment>

  <header>
    <h1>ARCHIVE OF THE UNTAMED</h1>
    <p class="sub">protocol://disorder.memory.network</p>
  </header>

  <div id="terminal"></div>

  <script src="/js/index.js" is:inline></script>
</Base>